<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Music Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?rnd=3">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>


  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->


  <header class="masthead text-left text-white">
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>



    <div class="masthead-content">
      <div class="container">
          <table class="table table-borderless">
                   <tbody>
                        <tr>
                            <th>
                              <p class="h4 mb-4">CURRENT SESSION: {{session['current_session']}}</p>
                            </th>
                            <th>
                                <form action="admin" method="post">
                                  <button id="next_session_admin" name="next_session_admin" value="next_session_admin"
                                    class="btn btn-info" type="submit" >{{session['next_session_button']}}</button>
                                </form>
                            </th>
                            <th>
                                <form action="download_users" method="post">
                                  <button id="download_users_admin" name="download_users_admin" value="download_users_admin"
                                    class="btn btn-info" type="submit" >Download User Table</button>
                                </form>
                            </th>
                            <th>
                                <form action="download_playlists_eval" method="post">
                                  <button id="download_playlist_admin" name="download_playlist_admin" value="download_playlist_admin"
                                    class="btn btn-info" type="submit" >Download Playlist Evaluation Table</button>
                                </form>
                            </th>

                            <th>
                                <form action="/admin_stats" method="post" target="_blank">
                                  <button id="admin_stats" name="admin_stats" value="admin_stats"
                                    class="btn btn-info" type="submit" >Statistics</button>
                                </form>
                            </th>
                        </tr>
                   </tbody>
              </table>


          <table class="table table-borderless table-dark p-2">
               <tbody>
                    <tr>

<!--                        <th>Id-->
<!--                        </th>-->
                        <th>Email
                        </th>
                        <th>Current State
                        </th>
                        <th>Invited Friend Email
                        </th>
                        <th>Friend Accepted Invite
                        </th>
                        <th>Is User
                        </th>
                        <th>Change User
                        </th>
                    </tr>
                    {% for user in session['users_info'] %}
                    <tr>

<!--                        <th>{{ user['id'] }}-->
<!--                        </th>-->
                        <th>{{ user['email'] }}
                        </th>
                        <th>{{ user['current_state'] }} - {{ user['completion_percentage'] }}%
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: {{user['completion_percentage']}}%" aria-valuenow="{{user['completion_percentage']}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </th>
                        <th>{{ user['invited_friend'] }}
                        </th>
                        <th>{{ user['friend_accepted'] }}
                        </th>
                        <th>{{ user['is_user'] }}
                        </th>
                        <th>
                            <form action="admin" method="post">
                                {% if user['is_user'] %}
                                <button id="change_user_admin" name="change_user_admin" value="change_user_admin"
                                    class="btn btn-info" type="submit" >
                                    Remove</button>
                                <input type="hidden" id="hidden_remove_user" name="hidden_remove_user" value="{{user['id']}}">
                                {% else %}
                                <button id="change_user_admin" name="change_user_admin" value="change_user_admin"
                                    class="btn btn-info" type="submit" >
                                    Add</button>
                                <input type="hidden" id="hidden_add_user" name="hidden_add_user" value="{{user['id']}}">
                                {% endif %}
                            </form>
                        </th>
                    </tr>
                    {% endfor %}
               </tbody>
          </table>


<!--          <form action="close_session_one" method="get">-->
<!--              <center>-->
<!--                  <button type="submit" class="btn btn-danger spotify_button" id="disagree" style="">-->
<!--                      <h4><i class="fab fa-spotify"></i>Close</h4>-->
<!--                  </button>-->
<!--              </center>-->
<!--          </form>-->

      </div>
    </div>

  </header>

  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
